html{
    scroll-behavior: smooth; 
}

/* ABOUT SECTION */
.about-wrapper{
    /* margin-top: 50px; */
    display:flex;
    /* justify-content:center; */
    flex-direction:column;
    align-items:center;
    height: 55em;
}



@media only screen and (max-width: 1207px) {
    .about-wrapper{
        height: 47em;
        justify-content: flex-start;
    }
}


@media only screen and (max-width: 608px) {
    .about-wrapper{
        height: 47em;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 544px) {
    .about-wrapper{
        height: 55em;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 461px) {
    .about-wrapper{
        height: 58em;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 420px) {
    .about-wrapper{
        height: 60em;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 380px) {
    .about-wrapper{
        height: 63em;
        justify-content: flex-start;
    }
}

.about-section{
    /* height: 55vh; */
    /* height: 55vh; */
    /* margin:20px; */
    width:70vw;
    display:flex;
    flex-direction:row;
    align-items: center;
    /* justify-content: space-between; */
}

.about-text{
    display:flex;
    width: 50%;
    margin-right: 60px;
}

.about-text > p{
    display: flex;
    flex-direction: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
}

@media only screen and (max-width: 375px) {
   
    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-text{
        width: 90vw;
        margin-right: 0px;
    }

    .about-text > p{
        font-size: 20px;
        line-height: 29px;
        text-justify: newspaper;
        margin-top: 5px;
    }
}



@media only screen and (max-width: 1573px) {

    .about-section{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .about-text{
        width: 40vw;
        margin-right: 60px;
    }

    .about-text > p{
        font-size: 20px;
        line-height: 35px;
        text-justify: newspaper;
        margin-top: 5px;
    }
}



@media only screen and (max-width: 1243px) {

    .about-section{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80vw;
    }

    .about-text{
        width: 55vw;
        margin-right: 30px;
    }

    .about-text > p{
        font-size: 20px;
        line-height: 35px;
        text-justify: newspaper;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 1207px) {

    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
    }

    .about-text{
        width: 40em;
        margin-right: 0px;
        /* margin-bottom: 60px; */
    }

    .about-text > p{
        font-size: 20px;
        line-height: 35px;
        text-justify: newspaper;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 768px) {

    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-text{
        width: 90%;
        margin-right: 0px;
    }

    .about-text > p{
        font-size: 18px;
        line-height: 29px;
        text-justify: newspaper;
        margin-top: 5px;
    }
}



.about-image{
    margin-top: 15px;
    margin-left: 20px;
	transition: 1s;
    display:flex;
    /* height:100%;
    width:50%; */
    height:470px;
    width:500px;
    background-image: url("/images/bolivia_flight.png");
    /* transform: scale(0.5); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* #gif{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(1.1);
    background-color: #000;
} */

@media only screen and (max-width: 1243px) {

    .about-image{
        height: 300px;
        width: 350px;
        margin-left: 40px;
    }
}

@media only screen and (max-width: 1207px) {

    .about-image{
        visibility: hidden;
    } 
}

@media only screen and (max-width: 1100px) {
    .about-image {
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px) {

    .about-image{
        margin-top: -40px;
        margin-left: 20px;
        transition: 1s;
        display:flex;
        height:470px;
        width:500px;
        transform: scale(0.6);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 375px) {

    .about-image{
        visibility: hidden;
    }
}



.title{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    margin: 75px 0px 50px 0px;
    /* text-shadow: 3px 3px 4px rgb(240, 159, 19); */
}

.title2{
    color:#f3b057;
    text-shadow: 8px 8px 4px black;
}

@media only screen and (max-width: 375px) {
    .title{
        font-size: 60px;
    }

    .title2{
        text-align: center;
    }    
}



.title3{
    color: white;
    text-shadow: 8px 8px 4px rgb(240, 159, 19);
    
}


/* GLOBAL FUNCTIONS - CAROUSEL*/

.global-functions-wrapper{
    height: 62em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.global-functions-section{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    
}

@media only screen and (max-width: 1000px) {
    .global-functions-wrapper{
        height: 55em;
}
}

.subtitle-global{
    font-size: 25px;
    color:white;
    display:flex;
}

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle}

/* Slideshow container */
.slideshow-container {
    max-width: 52em;
    /* max-width: 55vw; */
    position: relative;
    margin: auto;
    border-radius: 5px;
    font-family: 'Barlow', sans-serif;
    background: #000; 
	position: relative;
	border-top: 3px solid #888; 
	padding: 1% 1% 1% 1%; 
	border-radius: 10px; 
	/* border-bottom-left-radius: 50% 2%;  */
	/* border-bottom-right-radius: 50% 2%;  */
    transition: margin-right 1s;
    animation: tvflicker 3s linear infinite;
    margin-bottom:5px;
}



@media only screen and (min-width: 1635px) {
    .slideshow-container{
        max-width: 50vw;
        animation: none;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .slideshow-container{
        max-width: 70vw;
        animation: none;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 375px) {
    .slideshow-container{
        max-width: 80vw;
        animation: none;
        padding-bottom: 5px;
    }
    

    .mySlides > img{
        transform: scale(1.4);
        margin-top: 50px;
        max-width: 84%;
    }
}

/* @media only screen and (max-width: 1207px) {
    .slideshow-container{
        max-width: 60vw;
        animation: none;
        padding-bottom: 5px;
    }
    

    .mySlides > img{
        transform: scale(1.4);
        margin-top: 50px;
        max-width: 84%;
    }
} */


.slideshow-container:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 3%;
	left: 36%;
	height: .5%; 
	width: 28%;
	/* background: #ddd;  */
	border-radius: 50%; 
	/* box-shadow: 0 0 3px 0 white;  */

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* width: auto; */
    padding: 16px;
    margin-top: -22px;
    color: whitesmoke;
    background-color: #717171c2;
    font-weight: bold;
    font-size: 18px;
    /* transition: 0.6s ease; */
    border-radius: 50%;
    user-select: none;
    width: 50px; 
    margin-right:30px;
    text-align: center;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(245, 245, 245, 0.164);
    width: 50px; 
    border-radius: 50%;
}

/* Caption text */
.text {
    font-family: 'Barlow', sans-serif;
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    margin-top: 55px;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }



.active, .dot:hover {
  background-color: #717171;
}

@media only screen and (max-width: 375px) {
    .dot-container{
        margin-top: 15px;
    }
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* TOKENOMICS */

.tokenomics-wrapper{
    height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(125, 250, 250, 0.61);
    padding-bottom: 100px;
}


.tokenomics-section{
    width: 70vw;
    display: grid;
    grid-template-rows: repeat(2,240px);
    grid-template-columns: repeat(4,240px);
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 1056px) {
    .tokenomics-section{
        margin-right: 36px;
        width: 70vw;
        display: grid;
        grid-template-rows: repeat(2,200px);
        grid-template-columns: repeat(4,185px);
        align-content: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 755px) {
    .tokenomics-section{
    width: 70vw;
    display: grid;
    grid-template-rows: repeat(2,200px);
    grid-template-columns: repeat(2,185px);
    align-content: center;
    justify-content: center;
    margin-left: 36px;
    }
}

@media only screen and (max-width: 375px) {
    .tokenomics-section{
    width: 70vw;
    display: grid;
    grid-template-rows: repeat(2,200px);
    grid-template-columns: repeat(2,185px);
    align-content: center;
    justify-content: center;
    }
}

.feature{
    width: 198px;
    height: 198px;
    margin: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    background-color: rgb(29, 29, 29);
    border-radius: 50%;  
    font-size: 17px;
    background-size: 100% 202%;
    transition: all 0.2s ease;
    /* animation: down-jump 0.4s ease; */
    animation: down-bump 0.4s ease;
    line-height: 25px;
    text-align: center;
    font-weight: 800;
}



.javascript:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/javascript_logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}

.react:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/react_logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}

.redux:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/redux_logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}

.sql:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/postgresql.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}

.ruby:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/ruby_logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}

.html5:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/html_logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}

.css3:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/css_logo.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}

.git:hover{
    transform:scale(1.2);
    background-image: url("/images/tech-logos/github_logo_1.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: whitesmoke;
    /* background-position: 100% 100%; */
    animation: up-bump 0.4s ease;
    color: transparent;
}





@media only screen and (max-width: 375px) {
    .feature{
        margin:2px;
        height:180px;
        width:180px;
        transform:scale(.8)
    }

    .feature:hover{
        transform:scale(0.9);
        color: transparent;
    }
}



@media only screen and (max-width: 830px) {
    .feature{
        margin:18px;
        height:180px;
        width:180px;
        transform:scale(.9)
    }

    .feature:hover{
        transform:scale(0.9);
        color: transparent;
    }
}

@media only screen and (max-width: 768px) {
    .feature{
        margin:2px;
        height:180px;
        width:180px;
        transform:scale(.9)
    }

    .feature:hover{
        transform:scale(0.9);
        color: transparent;
    }
}

@media only screen and (max-width: 1056px) {
    .feature{
        margin:2px;
        height:180px;
        width:180px;
        transform:scale(.9)
    }

    .feature:hover{
        transform:scale(0.9);
        color: transparent;
    }
}



@keyframes up-bump {
  0% { padding-top: 1em; }
  50% { padding-top: 1.2em; }
  100% { padding-top: 1em; }
}
@keyframes down-bump {
  0% { padding-top: 1em; }
  50% { padding-top: 1.2em; }
  100% { padding-top: 1em; }
}
@keyframes down-jump {
  0% { margin-top: 1em; }
  50% { margin-top: 1.2em; }
  100% { margin-top: 1em; }
}
@keyframes tvflicker {
	  0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
	  100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
}

