footer{
    /* margin-top: 100px; */
    padding-top: 30px;
    height: 55vh;
    background-image: url("/images/oceanfinal.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    align-items: center;
}

@media only screen and (max-width: 375px) {
  footer{
    height: 35vh;
    padding-top: 30px;
    padding-bottom: 60px;
    background-image: url("/images/oceanfinal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    align-items: center;
    }
}

.contact > p{
    font-size: .6em;
    /* font-size: 15px; */
    color:white;
} 


#render{
  width: 55vw;
  font-size: 13px;
  margin-bottom: 30px;
  line-height: 15px;
}

@media only screen and (max-width: 375px) {
  #render{
    width: 85vw;
    font-size: 13px;
    margin-bottom: 50px;
  }
}
