:root{
    --main-red: #8A0303;
    --main-font: 'Anton', sans-serif;
}

*{
    box-sizing: border-box;
    color: white;
}

body{
  background-color: rgb(28, 27, 27);
}

.hero-banner{
  margin-top: 150px;
}

.header-links-wrapper{
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    background-color:black;
    align-items:center;
    letter-spacing: 2px;
    z-index:1;
}

.header-links{
    margin:0px;
    font-family: var(--main-font);
    color: white;
    cursor:pointer;
    text-decoration: none;

}
.header-links:hover{
    color:#f09f13
}

.links{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    
}

@media only screen and  (max-width: 375px) { 
	.links{
		    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 14px;
	}
}

.hero-button-wrapper > a{
  text-decoration: none;
}

.hero-wrapper{
    width: 100vw;
    height:56em;
    /* height:900px; */
    /* update height */
    display:flex;
    justify-content: center;
    align-items:center;
    /* border: 5px solid black; */
    flex-direction:column;
    background-image: url("/images/lima-peru.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    /* background:linear-gradient(transparent,rgb(54, 1, 1),rgb(82, 2, 2), rgb(148, 4, 4), rgb(163, 42, 5), rgb(240, 159, 19)) */
}

@media only screen and (max-width: 375px) {
    .hero-wrapper{
      height:89vh;
    }
}

/* @media only screen and (max-width: 768px) {
    .hero-wrapper{
      height:89vh;
    }
} */



.hero-image{
    height:300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0px 10px 10px black;
}

@media only screen and (max-width: 375px) {
  .hero-image{
    height: 200px;
    width: 200px
  }
}

@media only screen and (max-width: 768px) {
  .hero-image{
    height: 250px;
    width: 250px
  }
}

.rotating-words-wrapper{
    overflow: hidden;
    height: 110px;
}

.roledex-container{
    /* border: 3px solid teal; */
    margin-top: 40px;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size:95px;
    text-shadow: 5px 6px 5px black;
}

@media only screen and (max-width: 375px) {
  .roledex-container{
    margin-top: 40px;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .roledex-container{
    margin-top: 40px;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 55px;
  }
}



.roledex{
    display: flex;
    flex-direction: row;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.static-word{
    margin-right: 10px;
}

.rotating-words{
    line-height: 160px;
    transform: translateY(-225px);
    animation: word-spin 10s linear infinite ;
}
.changing-word{
  margin-left: 15px;
  /* color: rgb(204, 106, 61); */
  color: #f3b057;
}

@media only screen and (max-width: 375px) {
  .changing-word{
    margin-left: 5px;
  }

  .rotating-words{
    padding-right: 4px;
  }
}



@keyframes word-spin{
    0% {
    opacity: 0;
    transform: translateY(-348px)
  }
  20%{
    opacity: 1;
    transform: translateY(-348px)
  }
  
  25% {
    opacity: 1;
    transform: translateY(-348px);
  }
  33% {
    opacity: 1;
    transform: translateY(-348px);
  }
 
   40% {
    opacity: 0;
    
  }
  50% {
    opacity: 1;
    transform: translateY(-185px);
  }
  65% {
    opacity: 1;
    transform: translateY(-185px);
  }
  
   73% {
    opacity: 0;
    
  }
  80% {
    opacity: 1;
    transform: translateY(-25px);
  }
  90% {
    opacity: 1;
    transform: translateY(-25px);
  }
  95% {
    opacity: 0;
    transform: translateY(-25px);
  }
  99% {
    opacity: 0;
    transform: translateY(348px);
  }
  
   100% {
    opacity: 0;
    transform: translateY(558px);
  }
}

#stickyHeader{
    position: fixed;
    top: 0px;
    /* width: 100%; */
}

.hero-button-wrapper{
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 375px) {
  .hero-button-wrapper{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .hero-button-wrapper{
    flex-wrap: wrap;
  }
}

.hero-button{
  margin: 12px;
  height: 55px;
  width: 120px;
  background-color: rgba(125, 250, 250, 0.507);;
  border: 4px solid rgba(123, 248, 248, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  cursor: pointer;
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.9), 0 6px 6px rgba(0, 0, 0, 0.9);
}

.hero-button:hover{
  background-color: #ca6f33a1;
  color: white;
}

@media only screen and (max-width: 375px) {
  .hero-button{
    font-size: 19px;
    height: 60px;
    width: 130px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-button{
    font-size: 19px;
    height: 60px;
    width: 130px;
  }
}